
<div class="row mb-3">
    <div class="col-xl-12">
        <a class="font-size-16 text-primary" [routerLink]="['/insurance-company']"><i class="fe fe-arrow-left"></i> Back to
            Insurance Company
            List</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card bg-white">
            <div class="card-body d-flex align-items-center align-content-center">

                <div class="col-xl-6">
                    <nz-avatar *ngIf="customerDetail?.imageUrl==null" crossorigin="anonymous"  [nzShape]="'square'" [nzSize]="164"  [nzIcon]="'user'"></nz-avatar>
                    <nz-avatar  *ngIf="customerDetail?.imageUrl!=null"
                     crossorigin="anonymous"  [nzShape]="'square'" [nzSize]="164" [nzSrc]="customerDetail?.imageUrl"></nz-avatar>

                    <div class="font-size-24 text-dark font-weight-bold">
                        {{this.fullName==null ? customerDetail?.displayNameAs: this.fullName}} <nz-divider
                            nzType="vertical"> </nz-divider>

                        <a [href]="'mailto:'+customerDetail?.email+'?subject = Feedback&body = Message'">

                            <i nz-icon nzType="phone" nzTheme="twotone" nz-tooltip
                                [nzTooltipTitle]="'Call ' + customerDetail?.displayNameAs"></i>
                            <nz-divider nzType="vertical"> </nz-divider> <i nz-icon nzType="mail" nzTheme="twotone"
                                nz-tooltip [nzTooltipTitle]="'Mail to ' + customerDetail?.displayNameAs">
                            </i>
                        </a>
                    </div>
                    <div class="font-size-12 text-gray-5 d-flex justify-content">
                        {{customerDetail?.company}} <nz-divider nzType="vertical"> </nz-divider>
                        {{customerDetail?.addresses[0]?.billingAddress==null ? customerDetail?.addresses[0]?.country:
                        customerDetail?.addresses[0]?.billingAddress }} <nz-divider nzType="vertical"> </nz-divider> {{
                        customerDetail?.addresses[0]?.country}}
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="font-size-12 text-gray-5">
                       Amount Payable
                    </div>
                    <div class="font-size-24 text-gray-5">
                        {{this.paymentDue}} AED
                    </div>
                </div>
                <div class="col-xl-2">

                    <div class="font-size-24 text-gray-5">
                        <button nz-button (click)="showModal()">
                            Pay
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div *ngIf="paymentModal">
<app-add-credit-payment></app-add-credit-payment>
</div>
<div class="user-settings-page m-2">
<div class="row">
    <div class="col-xl-12">
    <div class="card col-xl-12 user-tabs ribbon--alpha">
        <nz-tabset class="" nzSize="large">
            <nz-tab [nzTitle]="TransactionTabTitle">
             <button   class="primary" (click)="DownloadPDF()"> <img src="assets/images/computer.png"  height="35" width="35"/></button>
                <nz-table class="card" nzTableLayout="auto" [nzBordered]="true" nzSize="small" #filterTable
                [nzData]="statement" [nzNoResult]="noData" nzShowSizeChanger [nzPageSize]="pageSize"
                [nzFooter]="tableFooter" >
                <thead>
                    <tr>

                        <th nzLeft="fixedColumn" nzWidth="120px"> # </th>
                        <th nzLeft="fixedColumn" nzWidth="80px">Date</th>
                        <th>Type</th>
                        <th>Invoice#</th>
                        <th> Customer Name</th>
                        <th> Policy Number</th>

                        <th> Insurance Type </th>
                        <th> Vehicle</th>
                        <th>Memo</th>
                        <th>Transaction Reference #</th>
                        <th>Account name</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Amount</th>
                        <th>Balance</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of filterTable.data; let i = index;">
                        <td>{{i+1}}</td>
                        <td> {{data.date | date}} </td>
                        <td *ngIf="data.transactionType==1">Sales Invoice</td>
                        <td *ngIf="data.transactionType==2">Payment</td>
                        <td *ngIf="data.transactionType==3">Insurance Credit</td>
                        <td *ngIf="data.transactionType==4">Transfer</td>
                        <td *ngIf="data.transactionType==5">Deposit</td>
                        <td *ngIf="data.transactionType==6">Expense</td>
                        <td *ngIf="data.transactionType==7">Bill</td>
                        <td *ngIf="data.transactionType==8">Refund</td>

                        <td> {{data.invoiceNumber ==null  ? "":data.invoiceNumber}} </td>
                        <td> {{data.name}} </td>
                        <td> {{data.policyNumber}} </td>

                        <td> {{data.insuranceType }} </td>
                        <td> {{data.vehicle}} </td>
                        <td> {{data.memo}} </td>
                        <td> {{data.transactionRefNumber}} </td>
                        <td> {{data.accountName}} </td>
                        <td> {{data.debit==0?'':data.debit}} </td>
                        <td> {{data.credit==0?'':data.credit}} </td>
                        <td> {{data.amount}} </td>
                        <td> {{data.balance}} </td>





                    </tr>
                </tbody>
            </nz-table>
            </nz-tab>
            <nz-tab [nzTitle]="CustomerTabTitle">

                <nz-card [nzTitle]="cardTitle" nzType="">

                    <nz-card nzType="inner" [nzTitle]="basicDetails" nzBordered="false">
                        <nz-descriptions>
                            <nz-descriptions-item nzTitle="Customer"> {{customerDetail?.firstName +" "+
                                customerDetail?.middleName +" "+ customerDetail?.lastName }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Email"> {{customerDetail?.email }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Mobile"> {{customerDetail?.mobile }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Fax"> {{customerDetail?.fax }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Other"> {{customerDetail?.other }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Website"> {{customerDetail?.website }}
                            </nz-descriptions-item>
                        </nz-descriptions>

                    </nz-card>
                    <nz-card nzType="inner" [nzTitle]="address" nzBordered="false">

                        <nz-descriptions>
                            <nz-descriptions-item nzTitle="Billing address"> {{customerDetail?.addresses[0]?.billingAddress
                                }}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Street"> {{customerDetail?.addresses[0]?.street }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="City"> {{customerDetail?.addresses[0]?.city }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="State"> {{customerDetail?.addresses[0]?.state }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Postal Code"> {{customerDetail?.addresses[0]?.postalCode }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Country"> {{customerDetail?.addresses[0]?.country }}
                            </nz-descriptions-item>
                        </nz-descriptions>

                    </nz-card>
                    <nz-card nzType="inner" [nzTitle]="paymentAndBilling" nzBordered="false">
                        <nz-descriptions>
                            <nz-descriptions-item nzTitle="Preferred Payment Method"> {{customerDetail?.paymentAndBilling[0]?.preferredPaymentMethod?.text
                                }}</nz-descriptions-item>
                            <!-- <nz-descriptions-item nzTitle="Preferred Delivery Method"> {{customerDetail?.addresses[0]?.street }}
                            </nz-descriptions-item> -->
                            <nz-descriptions-item nzTitle="Terms"> {{customerDetail?.paymentAndBilling[0]?.terms?.text }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Opening Balance"> {{customerDetail?.paymentAndBilling[0]?.openingBalance }}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="As of"> {{customerDetail?.addresses[0]?.postalCode }}
                            </nz-descriptions-item>
                        </nz-descriptions>


                    </nz-card>
                    <nz-card nzType="inner" [nzTitle]="attachments" nzBordered="false">
                        <nz-list nzItemLayout="horizontal" [nzLoading]="cardLoading">
                            <nz-list-item *ngFor="let item of customerDetail?.attachments">
                                <nz-list-item-meta
                                    nzAvatar="https://findicons.com/files/icons/2813/flat_jewels/512/file.png"
                                    nzDescription="Customer Files">
                                    <nz-list-item-meta-title>
                                        <a [href]="item.attachmentUrl"> Open file </a>
                                    </nz-list-item-meta-title>
                                </nz-list-item-meta>
                            </nz-list-item>
                            <nz-list-empty *ngIf="customerDetail?.attachments === 0"></nz-list-empty>
                        </nz-list>


                    </nz-card>


                </nz-card>


            </nz-tab>
            <nz-tab [nzTitle]="ComissionRate">
                <nz-card nzType="inner" [nzTitle]="comission" nzBordered="false">

                    <nz-descriptions>
                        <nz-descriptions-item [nzTitle]="'Active Tpl Rates:'">
                            {{this.tpl}}
                        </nz-descriptions-item>
                        <nz-descriptions-item [nzTitle]="'Active Non Tpl Rates:'">
                            {{this.nonTpl}}
                        </nz-descriptions-item>
                    </nz-descriptions>


                    <mat-form-field class="col-xl-4" [formGroup]="form">
                        <mat-label>
                            Tpl Rates
                            </mat-label>
                            <input matInput formControlName="rates" />
                    </mat-form-field>
                    <div class="col-xl-2">
                        <button nz-button nzType="primary" (click)="saveTpl()"> Save new rates </button>
                    </div>
                    <mat-form-field class="col-xl-4" [formGroup]="form2">
                        <mat-label>
                           Non Tpl Rates
                            </mat-label>
                            <input matInput formControlName="rates" />
                    </mat-form-field>
                    <div class="col-xl-2">
                        <button nz-button nzType="primary" (click)="saveNonTpl()" > Save new rates </button>
                    </div>

                </nz-card>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
</div>
</div>
<ng-template #noData>
    <nz-empty class="m-5" [nzNotFoundImage]="'assets/images/no-data/no-contact.svg'" [nzNotFoundContent]="noDataDescrp">
    </nz-empty>
</ng-template>

<ng-template #noDataDescrp>
    <div class="m-4">
        No Data Available.
    </div>
</ng-template>
<ng-template #cardTitle>
    <div class="font-size-24">
        Insurance Company Details <i nz-icon nzType="edit" nzTheme="twotone" nz-tooltip [nzTooltipTitle]="'Edit   Insurance Company Info'" style="color: #109CF1;" (click)="$event.stopPropagation(editDetail())"></i>
    </div>
</ng-template>
<ng-template #basicDetails>
    <div class="font-size-18">
        Basic Details <nz-divider nzType="vertical"></nz-divider>  <i nz-icon nzType="info-circle" nzTheme="twotone" style="color: #109CF1;font-size: 20px;"></i>
    </div>
</ng-template>
<ng-template #comission>
    <div class="font-size-18">
        Comission Details <nz-divider nzType="vertical"></nz-divider>  <i nz-icon nzType="info-circle" nzTheme="twotone" style="color: #109CF1;font-size: 20px;"></i>
    </div>
</ng-template>
<ng-template #address>
    <div class="font-size-18">
       Address <nz-divider nzType="vertical"></nz-divider> <i class="fa fa-address-card"  aria-hidden="true" style="color: #109CF1;"></i>
    </div>
</ng-template>
<ng-template #attachments>
    <div class="font-size-18">
       Attachments <nz-divider nzType="vertical"></nz-divider> <i class="fa fa-paperclip"  aria-hidden="true" style="color: #109CF1;"></i>
    </div>
</ng-template>
<ng-template #paymentAndBilling>
    <div class="font-size-18">
       Payment and Billing <nz-divider nzType="vertical"></nz-divider> <i class="fas fa-wallet" style="color: #109CF1;"></i>
    </div>
</ng-template>
<ng-template #TransactionTabTitle>
    <div class="font-size-16 font-weight-light">
        <i nz-icon nzType="database" nzTheme="twotone"></i>  <nz-divider nzType="vertical"></nz-divider>   Transactions
    </div>
</ng-template>
<ng-template #CustomerTabTitle>
    <div class="font-size-16 font-weight-light">
        <i class="fa fa-user"  aria-hidden="true" style="color: #109CF1;"   ></i>  <nz-divider nzType="vertical"></nz-divider>   Company
    </div>
</ng-template>
<ng-template #ComissionRate>
    <div class="font-size-16 font-weight-light">
        <i class="fa fa-user"  aria-hidden="true" style="color: #109CF1;"   ></i>  <nz-divider nzType="vertical"></nz-divider>   Set Comision Rates
    </div>
</ng-template>
<ng-template #tableFooter>
    <div nz-row  nzJustify="end">
        <div nz-col nzSpan="3" >
            <i class="fa fa-calculator"  aria-hidden="true" style="color: #109CF1;"   ></i>
               Total :{{paymentDue}} AED
        </div>

    </div>
</ng-template>



<app-add-credit-payment></app-add-credit-payment>
