<div class="breadcrumbs mb-3">
    <strong>Transactions</strong>

  </div>
  <div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
                <div class="">
                    <div class="clr-blue f-22 fw-400"> Payments Recevied</div>
                    <div class="clr-blue fw-600 f-50">300K AED</div>
                    <div class="f-18 clr-black fw-300">Analytics for this month</div>
                </div>
                <div class="my-auto mx-0">
                    <img src="assets/images/cards/cash-payment.png" width="70px" alt="Icon" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
                <div class="">
                    <div class="clr-blue f-22 fw-400">Paid Amount</div>
                    <div class="clr-blue fw-600 f-50">500K AED</div>
                    <div class="f-18 clr-black fw-300">Analytics for this month</div>
                </div>
                <div class="my-auto mx-0">
                    <img src="assets/images/cards/paid amount.png" width="70px" alt="Icon" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
                <div class="">
                    <div class="clr-blue f-22 fw-400"> Refunds</div>
                    <div class="clr-blue fw-600 f-50">200K AED</div>
                    <div class="f-18 clr-black fw-300">Analytics for this month</div>
                </div>
                <div class="my-auto mx-0">
                    <img src="assets/images/cards/refunds.png" width="70px" alt="Icon" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
                <div class="">
                    <div class="clr-blue f-22 fw-400"> Transfers Made</div>
                    <div class="clr-blue fw-600 f-50">500K AED</div>
                    <div class="f-18 clr-black fw-300">Analytics for this month</div>
                </div>
                <div class="my-auto mx-0">
                    <img src="assets/images/home/bank-transfer.svg" width="70px" alt="Icon" />
                </div>
            </div>
        </div>
    </div>
  </div>

<nz-tabset>

    <nz-tab [nzTitle]="ReceviePaymentTabTitle">
        <app-payment></app-payment>
    </nz-tab>
    <nz-tab [nzTitle]="PaymentTabTitle">
        <app-credit-payment></app-credit-payment>
    </nz-tab>

    <nz-tab [nzTitle]="RefundTabTitle">
        <app-refund></app-refund>
    </nz-tab>
    <nz-tab [nzTitle]="TransferTabTitle">
        <app-transfer></app-transfer>
    </nz-tab>
</nz-tabset>

<ng-template #ReceviePaymentTabTitle>
    <div class="font-size-16 font-weight-light">
        <i nz-icon nzType="money-collect" nzTheme="twotone"></i>
        <nz-divider nzType="vertical"></nz-divider> Recevie Payments
    </div>
</ng-template>
<ng-template #PaymentTabTitle>
    <div class="font-size-16 font-weight-light">
        <i nz-icon nzType="credit-card" nzTheme="twotone"></i>
        <nz-divider nzType="vertical"></nz-divider> Sent Payments
    </div>
</ng-template>

<ng-template #RefundTabTitle>
    <div class="font-size-16 font-weight-light">
        <i nz-icon nzType="interaction" nzTheme="twotone"></i>
        <nz-divider nzType="vertical"></nz-divider> Refund 
    </div>
</ng-template>
<ng-template #TransferTabTitle>
    <div class="font-size-16 font-weight-light">
        <i nz-icon nzType="fund" nzTheme="twotone"></i>
        <nz-divider nzType="vertical"></nz-divider> Transfer 
    </div>
</ng-template>
