<div class="row">

    <div class="col-xl-4 breadcrumbs mb-3">
        <strong>Sent Payments</strong>
    </div>
    <div class="col-xl-2 "></div>
    <div class="col-xl-6 ">
        <div class="w-20 mb-2" id="SearchFiltr">

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="search" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            </ng-template>
            <div class="SearchWithFilter dropdown-container ">
                <a class="dropdown-toggle click-dropdown" (click)="show=!show">
                    <span nz-icon nzType="filter" nzTheme="outline"></span>
                </a>
                <div>
                    <ul class="dropdown-menu" *ngIf="show">
                        <form [formGroup]="form">

                            <li>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate formControlName="dateFrom" placeholder="Start date">
                                        <input matEndDate formControlName="dateTo" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                </mat-form-field>
                            </li>
                            <li>
                                <label for="date">Branch</label> <br>
                                <select class="form-select" formControlName="branch" aria-label="">
                                    <option value="0" selected="">Ajman</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </li>
                            <li class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        checked formControlName="isPdf">
                                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
                                        Export as PDF
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        formControlName="isExcel">
                                    <label class="form-check-label" for="flexCheckChecked" style="font-size: 15px;">
                                        Export as Excel
                                    </label>
                                </div>
                            </li>

                        </form>
                    </ul>
                </div>

            </div>
        </div>
        <mat-chip-list aria-label="Fish selection">

            <mat-chip *ngIf="this.form.value.dateFrom"> From {{this.form.value.dateFrom | date }} To
                {{this.form.value.dateTo | date }} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <mat-chip *ngIf="this.form.value.branch">{{this.form.value.branch }} <mat-icon matChipRemove>cancel
                </mat-icon>
            </mat-chip>
            <mat-chip *ngIf="this.form.value.isPdf">Export PDF <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="this.form.value.isExcel">Export Excel <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="col-xl-12 mb-3">
        <a nz-button class="float-right" nzType="primary" (click)="openModal()">
            Pay Credits </a>
    </div>


</div>

  <div *ngIf="modalView">
  <app-add-credit-payment></app-add-credit-payment>
  </div>
    <div class="row">
        <div class="col-xl-12 ">
            <nz-table class="card" #rowSelectionTable [nzData]="listData" [nzNoResult]="noData" nzShowSizeChanger
                [nzPageSize]="pageSize">
                <thead>
                    <tr>
                        <th class="ant-table-selection-column" [nzSortFn]="sortNumbersFn" (click)="sortOn('index')">#
                        </th>
                        <th [nzSortFn]="sortNamesFn" (click)="sortOn('date')"> Payment Date</th>
                        <th [nzSortFn]="sortNamesFn" (click)="sortOn('insuranceCompany')"> Paid To  </th>
                        <th [nzSortFn]="sortNumbersFn" (click)="sortOn('transactionReferenceNumber')">Transaction Reference Number</th>
                        <th [nzSortFn]="sortNumbersFn" (click)="sortOn('paymentMethod')">Payment Method</th>
                        <th [nzSortFn]="sortNamesFn" (click)="sortOn('memo')">Memo/Description</th>
                        <th [nzSortFn]="sortNamesFn" (click)="sortOn('account')">Credit Account</th>
                        <th [nzSortFn]="sortNamesFn" (click)="sortOn('amount')">Amount </th>
                       
                        <!-- <th>Phone Number</th> -->
                        <!-- <th [nzSortFn]="sortNamesFn" (click)="sortOn('lastLoggedIn')">Last Logged in</th> -->
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of rowSelectionTable.data; let i = index;" 
                        >
                        <td>
                            {{data.index}}
                        </td>
                        <td>
                           {{data.paymentDate | date}}
                        </td>
                        <td>{{data.insuranceCompany.displayNameAs}}</td>
                        <td>{{data.transactionReferenceNumber}}</td>
                        <td>{{ data.paymentMethod.name }}</td>
                        <td>{{ data.memo}}</td>
                        <td>{{ data.creditAccount.name }}</td>
                        <td>{{ data.amount}}</td>
          
                        <td>  <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Payment" nzTheme="fill"
                            (click)="$event.stopPropagation(EditPayment(data))" 
                            class="text-success"></i>
                          <nz-divider nzType="vertical"></nz-divider>
                          <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete Payment"
                            (click)="$event.stopPropagation(deletePayment(data))" 
                            nzTheme="fill" class="text-danger"></i></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>


<ng-template #noData>
    <nz-empty class="m-5" [nzNotFoundImage]="'assets/images/no-data/no-team.svg'" [nzNotFoundContent]="noDataDescrp">
    </nz-empty>
</ng-template>

<ng-template #noDataDescrp>
    <div class="m-4">
        No Data Available.
        <a  (click)="showModal()" class="kit__utils__link">
            Receive New Payment
        </a>
    </div>
</ng-template>
<app-add-credit-payment></app-add-credit-payment>