<div class="container">
    <div class="row"> 
        <form [formGroup]="SalesAgentForm"  (ngSubmit)="OnSubmit(formDirective)" novalidate #formDirective="ngForm">
            {{this.SalesAgentForm.value | json}}
          <!--   {{this.fnAddress.value | json}}
            {{this.fnPaymentAndDelivery.value | json}}
            {{this.fnAttachment.value | json}} -->
            <div class="row">
                <mat-form-field class="form-group col-xl-1" appearance="fill" >
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Title" formControlName="title" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>First name</mat-label>
                    <input type="text" matInput placeholder="First name" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Middle name</mat-label>
                    <input type="text" matInput placeholder="Middle name" formControlName="middleName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput placeholder="Last name" formControlName="lastName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-2" appearance="fill" >
                    <mat-label>Suffix</mat-label>
                    <input type="text" matInput placeholder="Suffix" formControlName="suffix" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-6" appearance="fill" >
                    <mat-label>Company</mat-label>
                    <input type="text" matInput placeholder="Company" formControlName="company" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" >
                    <mat-label>Display name As</mat-label>
                    <input type="text" matInput placeholder="Display name as" formControlName="displayNameAs" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Email*</mat-label>
                    <input type="text" matInput placeholder="Email*" formControlName="email" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput placeholder="Phone" formControlName="phone" />
                </mat-form-field>

                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Mobile</mat-label>
                    <input type="text" matInput placeholder="Mobile" formControlName="mobile" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" >
                    <mat-label>Fax</mat-label>
                    <input type="text" matInput placeholder="Phone" formControlName="fax" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-6" appearance="fill" >
                    <mat-label>Other</mat-label>
                    <input type="text" matInput placeholder="Other" formControlName="other" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" >
                    <mat-label>Website</mat-label>
                    <input type="text" matInput placeholder="Website" formControlName="website" />
                </mat-form-field>
            </div>
            <div class="row">
                <div class="form-group col-xl-3 mt-3" appearance="fill" >
                    <!-- <mat-label>Enter Parent Customer</mat-label> -->
                    <mat-checkbox formControlName="isSubCustomer" style="padding: 0; margin: 0;" class="text-primary">Is
                        sub customer?
                    </mat-checkbox>
                </div>
                <mat-form-field class="form-group col-xl-3" appearance="fill" 
                    *ngIf="ParentSalesAgentInfoTag">
                    <mat-label>Parent Customer Info</mat-label>
                    <mat-select matInput placeholder="Select Parent Customer" formControlName="userDetailId">
                        <mat-option *ngFor="let item of SalesAgentSelectList async" [value]="item.id" >
                            {{item.displayNameAs}} | <br>
                           <sub> {{item.companyName}}</sub>

                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" >
                    <mat-label>Default Account Info</mat-label>
                    <mat-select matInput placeholder="Select Default Account" formControlName="defaultAccountId">
                        <mat-option (click)="openAccountModal()" class="fw-700"> Add new Account </mat-option>
                        <mat-option *ngFor="let item of Accounts async" [value]="item.id" >
                            {{item?.name}} | {{item?.accountDetailType?.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-xl-12 d-flex justify-content-center">
         
                    <button type="submit" nz-button nzType="primary">
                       Add new Sales Agent
                        
                        </button>
                    </div>
            </div>
        </form>
       
      
    

</div>

<app-add-accounts></app-add-accounts>