<div class="container">
    <div class="row">
{{form.value | json}}

        <form [formGroup]="form" class="col-xl-12" (ngSubmit)="onSubmit(formDirective)" novalidate #formDirective="ngForm">
            
            <mat-form-field class="col-xl-12">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Service Name" formControlName="name">

            </mat-form-field>

            <div class="text-center">
                <button nz-button nzType="primary" class="" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>