
    <div class="row">

      <div class="col-xl-2 breadcrumbs mb-3">
        <strong>Sales Policies</strong>
      </div>
      <div class="col-xl-4 "></div>
      <div class="col-xl-6 ">
        <form [formGroup]="form">
        <div class="w-20 mb-3" id="SearchFiltr">

          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="search" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="Search()"><span nz-icon nzType="search"></span></button>
          </ng-template>
          <div class="SearchWithFilter dropdown-container ">
            <a class="dropdown-toggle click-dropdown" (click)="show=!show">
              <span nz-icon nzType="filter" nzTheme="outline"></span>
            </a>
            <div>
              <ul class="dropdown-menu" *ngIf="show">


                  <li>
                    <mat-form-field appearance="fill">
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="from" placeholder="Start date">
                        <input matEndDate  formControlName="to" placeholder="End date">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>

                    </mat-form-field>
                  </li>
                  <li>
                    <label for="date">Branch</label> <br>
                    <select class="form-select" formControlName="branchId" aria-label="">

                      <option *ngFor="let item of branchList" [value]="item.id">
                        {{item.branchName}}
                      </option>

                    </select>
                  </li>

                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                        formControlName="requestExcel">
                      <label class="form-check-label" for="flexCheckChecked" style="font-size: 15px;">
                        Export as Excel
                      </label>
                    </div>
                  </li>


              </ul>
            </div>

          </div>
        </div>
      </form>
        <mat-chip-list aria-label="Fish selection">

          <mat-chip *ngIf="this.form.value.dateFrom"> From {{this.form.value.dateFrom | date }} To {{this.form.value.dateTo | date }}  <mat-icon matChipRemove>cancel</mat-icon> </mat-chip>

          <mat-chip *ngIf="this.form.value.branch">{{this.form.value.branch }} <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
          <mat-chip *ngIf="this.form.value.isPdf">Export PDF <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
          <mat-chip *ngIf="this.form.value.isExcel">Export Excel <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>


    </div>
    <div class="row mb-4">


      <div class="col-xl-12 ">
        <div ngbDropdown placement="bottom-right" class="d-inline-block " style="float: right;">
          <button class="btn btn-primary btn-lg ant-btn-primary mt-2" id="addNew" ngbDropdownToggle>
            <span class="pl-4 pr-4">Add New</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="addNew">
            <button ngbDropdownItem (click)="showModal()">
              <i class="fa fa-plus mr-2"></i>
              Issue a new sales policy
            </button>
            <button ngbDropdownItem [routerLink]="['./bulk-sales']"><i class="fa fa-plus mr-2"></i>Bulk Sales</button>
            <!-- <button ngbDropdownItem (click)="isBulkUploadVisible = true">
              <i class="fa fa-upload mr-2"></i>Bulk Upload
            </button>
            <button ngbDropdownItem (click)="exportExcel()">
              <i class="fa fa-upload mr-2"></i>Export Excel
            </button> -->
          </div>
        </div>
      </div>
    </div>

<div>
  <div class="row mt-4" *ngFor="let item of branchList">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
          <div class="">
            <div class="clr-blue f-22 fw-400">BRANCH {{item.branchName}}</div>
            <div class="clr-blue fw-600 f-50">{{item.sales.length}} <span class="font-size-12">entries</span></div>
            <div class="f-18 clr-black fw-300">Analytics for this month</div>
          </div>
          <div class="my-auto mx-0">
            <img src="assets/images/cards/united-arab-emirates.png" width="80px" alt="Icon" />
          </div>
        </div>
      </div>
    </div>



  </div>




  <div class="row">
    <div class="col-xl-12">
      <nz-table id="excel-table" class="card" #rowSelectionTable [nzFrontPagination]="false" [nzTotal]="totalRows"
        [nzData]="listData" [nzNoResult]="noData" nzShowSizeChanger [(nzPageIndex)]="page" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="onQueryParamsChange($event)" (nzPageSizeChange)="onQueryParamsChange($event)"
        [nzTableLayout]="'auto'" [nzBordered]="true"  [nzSize]="'small'">
        <thead>
          <tr>
            <th [nzWidth]="'100px'" class="ant-table-selection-column">#</th>
            <th [nzAlign]="'center'" [nzAlign]="'center'">Date</th>
            <th [nzAlign]="'center'">Customer / Company</th>
            <th [nzAlign]="'center'">Insurance Company</th>
            <th [nzAlign]="'center'">Sales Personn / Company</th>
            <th [nzAlign]="'center'">Policy Number</th>
            <th [nzAlign]="'center'">Vehicle</th>
            <th [nzAlign]="'center'">Branch</th>
            <th [nzAlign]="'center'">Underwritter</th>
            <th [nzAlign]="'center'">Payment Method</th>
            <th [nzAlign]="'center'">Gross</th>
            <th [nzAlign]="'center'">VAT</th>
            <th [nzAlign]="'center'">NET</th>
            <th [nzAlign]="'center'">Comission%</th>
            <th [nzAlign]="'center'">Comission Rate</th>
            <th [nzAlign]="'center'">Notes</th>
            <th [nzAlign]="'center'">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data; let i = index" style="cursor: pointer;">
            <td [nzLeft]="true">{{ i + 1 }}</td>
            <td>
              {{ data.salesInvoiceDate | date }}
            </td>

            <td>{{ data.customerName }}</td>
            <td>{{ data.insuranceCompany?.displayNameAs }}</td>
            <td>{{ data.salesInvoicePerson?.displayNameAs }}</td>
            <td>
              {{
              data.saleLineItem != []
              ? data.saleLineItem[0]?.policyNumber
              : "N/A"
              }}
            </td>
            <td>
              {{
              data.saleLineItem != []
              ? data.saleLineItem[0]?.vehicle?.make +
              " | " +
              data.saleLineItem[0]?.vehicle?.model
              : "N/A"
              }}
            </td>
            <td>{{ data.branch.branchName }}</td>
            <td>{{ data.underWritter }}</td>
            <td>{{ data.paymentMethod?.name }}</td>
            <td>
              {{
              data.saleLineItem != [] ? data.saleLineItem[0]?.gross : "N/A"
              }}
            </td>
            <td>
              {{ data.saleLineItem != [] ? data.saleLineItem[0]?.vat : "N/A" }}
            </td>
            <td>
              {{ data.saleLineItem != [] ? data.saleLineItem[0]?.net : "N/A" }}
            </td>
            <td>
              {{
              data.saleLineItem != []
              ? data.saleLineItem[0]?.commision
              : "N/A"
              }}
            </td>
            <td>
              {{
              data.saleLineItem != []
              ? data.saleLineItem[0]?.actualComission
              : "N/A"
              }}
            </td>
            <td>{{ data.notes }}</td>
            <td>{{ data.saleLineItem[0]?.salesPrice }}</td>
            <td>
              <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Sales"
              (click)="$event.stopPropagation(editSales(data))" nzTheme="fill" class="text-success"
             ></i>

            <nz-divider nzType="vertical"></nz-divider>

            <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete Sales"
              (click)="$event.stopPropagation(DeleteSales(data))" nzTheme="fill" class="text-danger"
             ></i>

            </td>
          </tr>
        </tbody>

      </nz-table>
    </div>
  </div>
  <div class="add-account-modal-div">
    <nz-modal nzFooter="null" nzWidth="1500" [(nzVisible)]="isVisible" nzMaskClosable="false"
      [nzTitle]="isEditMode ? 'Update Sales' : 'Create New Sales'" (nzOnCancel)="handleCancel()">
      <app-add-sales [inputObserver]="salesObserverSubject"></app-add-sales>
    </nz-modal>
  </div>
  <div>
    <nz-modal nzFooter="null" nzWidth="800" [(nzVisible)]="isBulkUploadVisible" nzMaskClosable="false"
      [nzTitle]="'Bulk Upload Sales Polices'" (nzOnCancel)="isBulkUploadVisible = false">
      <nz-upload nzType="drag" [nzMultiple]="false" [nzAction]="UploadUrl" (nzChange)="handleChange($event)">
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
        <p class="ant-upload-hint">
          Support for a single or bulk upload. Strictly prohibit from uploading
          company data or other band files
        </p>
      </nz-upload>

      <div class="row" *ngIf="rejectedEntries">
        <div class="bg-light height-200 d-flex flex-column">
          <h1 class="mb-0 text-color-6">Rejected Polices</h1>
        </div>

        <nz-table class="card" #rowSelectionTable [nzData]="rejectedEntries" [nzNoResult]="noData" nzShowSizeChanger
          [nzPageSize]="pageSize" [nzTableLayout]="'auto'" [nzBordered]="true" [nzSize]="'small'" [nzTotal]="totalRows"
          (nzPageIndexChange)="ChangePage($event)">
          <thead>
            <tr>
              <th [nzWidth]="'100px'" class="ant-table-selection-column">#</th>
              <th [nzAlign]="'center'" [nzAlign]="'center'">Date</th>
              <th [nzAlign]="'center'">Customer / Company</th>
              <th [nzAlign]="'center'">Insurance Company</th>
              <th [nzAlign]="'center'">Sales Personn / Company</th>
              <th [nzAlign]="'center'">Policy Number</th>
              <th [nzAlign]="'center'">Vehicle</th>
              <th [nzAlign]="'center'">Branch</th>
              <th [nzAlign]="'center'">Underwritter</th>
              <th [nzAlign]="'center'">Payment Method</th>
              <th [nzAlign]="'center'">Gross</th>
              <th [nzAlign]="'center'">VAT</th>
              <th [nzAlign]="'center'">NET</th>
              <th [nzAlign]="'center'">Comission%</th>
              <th [nzAlign]="'center'">Comission Rate</th>
              <th [nzAlign]="'center'">Notes</th>
              <th [nzAlign]="'center'">Total</th>
              <th [nzAlign]="'center'">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data; let i = index" style="cursor: pointer;">
              <td [nzLeft]="true">{{ i + 1 }}</td>
              <td>
                {{ data.salesInvoiceDate | date }}
              </td>

              <td>{{ data.customerDetails?.displayNameAs }}</td>
              <td>{{ data.insuranceCompany?.displayNameAs }}</td>
              <td>{{ data.salesInvoicePerson?.displayNameAs }}</td>
              <td>
                {{
                data.saleLineItem != []
                ? data.saleLineItem[0]?.policyNumber
                : "N/A"
                }}
              </td>
              <td>
                {{
                data.saleLineItem != []
                ? data.saleLineItem[0]?.vehicle?.make +
                " | " +
                data.saleLineItem[0]?.vehicle?.model
                : "N/A"
                }}
              </td>
              <td>{{ data.branch.branchName }}</td>
              <td>{{ data.underWritter }}</td>
              <td>{{ data.paymentMethod?.name }}</td>
              <td>
                {{
                data.saleLineItem != [] ? data.saleLineItem[0]?.gross : "N/A"
                }}
              </td>
              <td>
                {{
                data.saleLineItem != [] ? data.saleLineItem[0]?.vat : "N/A"
                }}
              </td>
              <td>
                {{
                data.saleLineItem != [] ? data.saleLineItem[0]?.net : "N/A"
                }}
              </td>
              <td>
                {{
              data.saleLineItem[0]?.commission

                }}
              </td>
              <td>
                {{
                data.saleLineItem != []
                ? data.saleLineItem[0]?.commission &&
                data.saleLineItem[0]?.total
                ? (
                (data.saleLineItem[0]?.commission / 100) *
                data.saleLineItem[0]?.total
                ).toFixed(2)
                : ""
                : "N/A"
                }}
              </td>
              <td>{{ data.notes }}</td>
              <td>{{ data.saleLineItem[0]?.salesPrice }}</td>

            </tr>
          </tbody>

        </nz-table>
      </div>
    </nz-modal>
  </div>
  <ng-template #noData>
    <nz-empty class="m-5" [nzNotFoundImage]="'assets/images/no-data/no-account.svg'" [nzNotFoundContent]="noDataDescrp">
    </nz-empty>
  </ng-template>
</div>
