<div class="row">

  <div class="col-xl-2 breadcrumbs mb-3">
    <strong>Expenses</strong>
  </div>
</div>

<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
        <div class="">
          <div class="clr-blue f-22 fw-400">Expenses</div>
          <div class="clr-blue fw-600 f-50">500K AED</div>
          <div class="f-18 clr-black fw-300">Analytics for this month</div>
        </div>
        <div class="my-auto mx-0">
          <img src="assets/images/cards/Expense accounts.png" width="70px" alt="Icon" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body d-flex flex-wrap justify-content-between align-items-start bg-alice-blue">
        <div class="">
          <div class="clr-blue f-22 fw-400">Payroll</div>
          <div class="clr-blue fw-600 f-50">20,500K AED</div>
          <div class="f-18 clr-black fw-300">Analytics for this month</div>
        </div>
        <div class="my-auto mx-0">
          <img src="assets/images/cards/payroll.png" width="70px" alt="Icon" />
        </div>
      </div>
    </div>
  </div>
</div>



<div class="user-settings-page m-2">
  <div class="row">
    <div class="col-xl-12">
      <div class="card col-xl-12 user-tabs ribbon--alpha">
        <nz-tabset nzSize="large">

          <nz-tab [nzTitle]="expenseTitle">

            <div class="row">
              <div class="col-xl-6"></div>

              <div class="col-xl-6">


                <form [formGroup]="form">
                <div class="w-20 mb-3" id="SearchFiltr">

                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="search" nz-input formControlName="searchQuery" placeholder="input search text" />
                  </nz-input-group>
                  <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch (click)="Search()"><span nz-icon nzType="search"></span></button>
                  </ng-template>
                  <div class="SearchWithFilter dropdown-container ">
                    <a class="dropdown-toggle click-dropdown" (click)="show=!show">
                      <span nz-icon nzType="filter" nzTheme="outline"></span>
                    </a>
                    <div>
                      <ul class="dropdown-menu" *ngIf="show">


                          <li>
                            <mat-form-field appearance="fill">
                              <mat-label>Enter a date range</mat-label>
                              <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="from" placeholder="Start date">
                                <input matEndDate formControlName="to" placeholder="End date">
                              </mat-date-range-input>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #picker></mat-date-range-picker>

                            </mat-form-field>
                          </li>
                          <li>  
                            <label for="date">Branch</label> <br>
                            <select class="form-select" formControlName="branchId" aria-label="">
                                  <option *ngFor="let item of branchList" [value]="item.id">
                                    {{item.branchName}}
                                  </option>
                            </select>
                          </li>
                          <li class="mt-2">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
                                formControlName="downloadPDF">
                              <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
                                Export as PDF
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                formControlName="downloadExcel">
                              <label class="form-check-label" for="flexCheckChecked" style="font-size: 15px;">
                                Export as Excel
                              </label>
                            </div>
                          </li>


                      </ul>

                    </div>

                  </div>

                </div>
              </form>
                <mat-chip-list aria-label="Fish selection">

                  <mat-chip *ngIf="this.form.value.from"> From {{this.form.value.from | date }} To
                    {{this.form.value.to
                    | date }} <mat-icon matChipRemove

                    (click)=" this.form.controls.from.setValue(null);this.form.controls.to.setValue(null)"
                    >cancel</mat-icon>
                  </mat-chip>

                  <mat-chip *ngIf="this.form.value.branchId">{{getBranchName(this.form.value.branchId)}} <mat-icon
                    (click)="this.form.controls.branchId.setValue(null)"
                      matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <mat-chip *ngIf="this.form.value.downloadPDF">Export PDF <mat-icon

                    (click)=" this.form.controls.downloadPDF.setValue(null)"
                    matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <mat-chip *ngIf="this.form.value.downloadExcel"


                   >Export Excel <mat-icon
                   (click)="this.form.controls.downloadExcel.setValue(null)"
                   matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

            </div>

            <div class="row mb-4">
              <div class="col-xl-12 ">
                <a nz-button class="float-right mt-2" nzType="primary" (click)="showModal()">Add Expenses</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12">
                <!-- <nz-table [nzData]="list" class="card" nzTableLayout="auto" [nzBordered]="true" nzSize="small"
                [nzFrontPagination]="false"
                [nzTotal]="totalCount"

                [nzData]="list"
                [nzNoResult]="noData"
                nzShowSizeChanger
                nzShowTotal
                [(nzPageSize)]="pageSize"
                [(nzPageIndex)]="page"
                [nzTableLayout]="'auto'"
                [nzBordered]="true"
                [nzLoading]="isloading"
                [nzSize]="'small'"



                  #filterTable nzShowSizeChanger [nzPageSize]="itemsPerPage"> -->
                  <nz-table class="card" #rowSelectionTable

                  [nzFrontPagination]="false"
                  [nzTotal]="totalCount"

                  [nzData]="list"
                  [nzNoResult]="noData"
                  nzShowSizeChanger
                  [(nzPageSize)]="pageSize"
                  [(nzPageIndex)]="page"
                  [nzTableLayout]="'auto'"
                  [nzBordered]="true"
                  [nzLoading]="isloading"
                  [nzSize]="'small'"
                  (nzPageIndexChange)="onQueryParamsChange($event)"
                  (nzPageSizeChange)="onQueryParamsChange($event)"
                  [nzTitle]="tableTitle"
                      >
                  <thead>
                    <tr>
                      <th style="padding-left:2% !important">#</th>
                      <th>Expense Name</th>
                      <th>Expense Date</th>
                      <th>Expense Category</th>
                      <th>Expense Amount</th>
                      <th>Branch</th>
                      <th>Bank Account</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of list; let i =index">
                      <td style="padding-left:1% !important">{{i+1}}</td>
                      <td>{{item.expenseName}}</td>
                      <td>{{item.expenseDate | date}}</td>
                      <td>{{item.expenseCategory.name}}</td>





                      <td>{{item.expenseAmount}}</td>
                      <td>{{item.branch.branchName}}</td>
                      <td>{{item.account.name}}</td>
                      <td><i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Contact"
                          (click)="$event.stopPropagation(editExpense(item))" nzTheme="fill" class="text-success"></i>

                        <nz-divider nzType="vertical"></nz-divider>

                        <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Delete Contact"
                          (click)="$event.stopPropagation(deleteExpense(item))" nzTheme="fill" class="text-danger"></i>
                      </td>

                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>

          </nz-tab>

          <nz-tab [nzTitle]="payrollTitle">
            <app-payroll></app-payroll>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>


<ng-template #expenseTitle>
  <span class=" font-weight-light font-size-16">Expenses</span>
</ng-template>
<ng-template #payrollTitle>
  <span class=" font-weight-light font-size-16">Payroll</span>
</ng-template>

<ng-template #tmpl>
  <nz-modal nzWidth="1000" [(nzVisible)]="isVisible" (nzOnCancel)="closeModal()"
    [nzTitle]="isEditMode?'Update Expense':'Add New Expense' ">
    <app-add-expenses #formComponent [inputExpenseObserver]="expense"></app-add-expenses>
  </nz-modal>
</ng-template>
<ng-container *ngTemplateOutlet="tmpl">

</ng-container>



<ng-template #noData>
  <nz-empty class="m-5" [nzNotFoundImage]="'assets/images/no-data/no-account.svg'" [nzNotFoundContent]="noDataDescrp">
  </nz-empty>
</ng-template>
<ng-template #noDataDescrp>
  <div class="m-4">
      No Data Available.
      <!-- <a *ngIf="_permissionService.canCreate" (click)="showModal()" class="kit__utils__link">
          Create New Account
      </a> -->
  </div>
</ng-template>
<ng-template #tableTitle>

  <span class="font-weight-bold font-size-16" *ngIf="!isSearch">{{TableTitle}}</span>
  <span class="font-weight-bold font-size-16" *ngIf="isSearch">{{TableTitle}}</span>
</ng-template>
