<div class="row">
    <div class="col-xl-12">


        <form [formGroup]="form"  (ngSubmit)="OnSubmit(formDirective)" novalidate #formDirective="ngForm">
            <mat-form-field class="col-xl-12" appearance="fill"  >
            <mat-label> Policy Type </mat-label>
            <mat-select formControlName="policyTypeId">
                <mat-option value=1>Motor Insurance </mat-option>
                <mat-option value=2>Life Insurance </mat-option>
            </mat-select>
            <mat-error *ngIf="f.controls.policyTypeId.hasError('required')">
                Policy Type is required
            </mat-error>
            </mat-form-field>
            <mat-form-field class="col-xl-12" appearance="fill"  >
            <mat-label> Service</mat-label>
            <input type="text" matInput placeholder="Service" formControlName="name">
            <mat-error *ngIf="f.controls.name.hasError('required')">
                Service is required
            </mat-error>
            </mat-form-field>
    
            <div class="col-xl-12 d-flex justify-content-center">
         
                <button type="submit" nz-button nzType="primary" [nzLoading]="isLoading">
                    Add Service                    
                    </button>
          
        </div>
        </form>

    </div>
</div>