<div class="container">
    <div class="row"> 
        <form [formGroup]="SalesAgentForm"  (ngSubmit)="OnSubmit(formDirective)" novalidate #formDirective="ngForm">
            {{this.SalesAgentForm.value | json}}
            {{this.fnAddress.value | json}}
            {{this.fnPaymentAndDelivery.value | json}}
            {{this.fnAttachment.value | json}}
            <div class="row">
                <mat-form-field class="form-group col-xl-1" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Title" formControlName="title" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>First name</mat-label>
                    <input type="text" matInput placeholder="First name" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Middle name</mat-label>
                    <input type="text" matInput placeholder="Middle name" formControlName="middleName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput placeholder="Last name" formControlName="lastName" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-2" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Suffix</mat-label>
                    <input type="text" matInput placeholder="Suffix" formControlName="suffix" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-6" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Supplier</mat-label>
                    <input type="text" matInput placeholder="Supplier" formControlName="company" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Display name As</mat-label>
                    <input type="text" matInput placeholder="Display name as" formControlName="displayNameAs" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="SalesAgentForm">
                    <mat-label>Email*</mat-label>
                    <input type="text" matInput placeholder="Email*" formControlName="email" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput placeholder="Phone" formControlName="phone" />
                </mat-form-field>

                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Mobile</mat-label>
                    <input type="text" matInput placeholder="Mobile" formControlName="mobile" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Fax</mat-label>
                    <input type="text" matInput placeholder="Phone" formControlName="fax" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-xl-6" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Other</mat-label>
                    <input type="text" matInput placeholder="Other" formControlName="other" />
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Website</mat-label>
                    <input type="text" matInput placeholder="Website" formControlName="website" />
                </mat-form-field>
            </div>
            <div class="row">
                <div class="form-group col-xl-3 mt-3" appearance="fill" [formGroup]="userDetail">
                    <!-- <mat-label>Enter Parent Supplier</mat-label> -->
                    <mat-checkbox formControlName="isSubCustomer" style="padding: 0; margin: 0;" class="text-primary">Is
                        sub Supplier?
                    </mat-checkbox>
                </div>
                <mat-form-field class="form-group col-xl-3" appearance="fill" [formGroup]="userDetail"
                    *ngIf="ParentSalesAgentInfoTag">
                    <mat-label>Parent Supplier Info</mat-label>
                    <mat-select matInput placeholder="Select Parent Supplier" formControlName="userDetailId">
                        <mat-option *ngFor="let item of SalesAgentSelectList" [value]="item.id" >
                            {{item.displayNameAs}} | <br>
                           <sub> {{item.companyName}}</sub>

                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-xl-6" appearance="fill" [formGroup]="userDetail">
                    <mat-label>Default Account Info</mat-label>
                    <mat-select matInput placeholder="Select Default Account" formControlName="defaultAccountId">
                        <mat-option *ngFor="let item of Accounts" [value]="item.id" >
                            {{item.name}} | {{item.accountDetailType.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row mt-5">
                <div class="col-xl-12">
                    <div class="col-xl-12 card">
                        <nz-tabset class="" nzSize="large">
                            <nz-tab nzTitle="Address">
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>Billing Address</mat-label>
                                    <input type="text" matInput placeholder="Street" formControlName="billingAddress" />
                                </mat-form-field>
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>Street</mat-label>
                                    <input type="text" matInput placeholder="Street" formControlName="street" />
                                </mat-form-field>
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>City</mat-label>
                                    <input type="text" matInput placeholder="City" formControlName="city" />
                                </mat-form-field>
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>State</mat-label>
                                    <input type="text" matInput placeholder="State" formControlName="state" />
                                </mat-form-field>
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>Postal code</mat-label>
                                    <input type="text" matInput placeholder="Postal code"
                                        formControlName="postalCode" />
                                </mat-form-field>
                                <mat-form-field class="form-group col-xl-4" appearance="fill" [formGroup]="fnAddress">
                                    <mat-label>Country</mat-label>
                                    <input type="text" matInput placeholder="Country" formControlName="country" />
                                </mat-form-field>

                                <!-- <ng-container *ngTemplateOutlet="retainerSchedule"></ng-container> -->
                            </nz-tab>
                            <nz-tab nzTitle="Payment and Billing">
                                <div class="row">
                                    <div class="col-xl-6">
                                        
                                            <mat-form-field class="form-group col-xl-12" appearance="fill"
                                                [formGroup]="fnPaymentAndDelivery">
                                                <mat-label>Preferred Payment Method</mat-label>
                                                <mat-select placeholder="Preferred Payment Method"
                                                    formControlName="preferredPaymentMethodId">
                                                    <mat-option *ngFor="let item of preferredPaymentMethod" [value]="item.id">
                                                        {{item.text}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                   
                                      
                                            <mat-form-field class="form-group col-xl-12" appearance="fill"
                                                [formGroup]="fnPaymentAndDelivery">
                                                <mat-label>Preferred Delivery Method</mat-label>
                                                <mat-select placeholder="Preferred Delivery Method"
                                                    formControlName="preferredDeliveryMethodId">
                                                    <mat-option value="1"> Send Later </mat-option>
                                                    <mat-option value="2"> Print Later </mat-option>
                                                    <mat-option value="3"> None</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                     
                                    </div>

                                    <div class="col-xl-6">
                                        <mat-form-field class="form-group col-xl-4" appearance="fill"
                                            [formGroup]="fnPaymentAndDelivery">
                                            <mat-label>Terms</mat-label>
                                            <mat-select placeholder="Terms" formControlName="termsId">
                                                <mat-option *ngFor="let item of terms" [value]="item.id">
                                                    {{item.text}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="form-group col-xl-4" appearance="fill"
                                            [formGroup]="fnPaymentAndDelivery" [hidden]="isEditMode">
                                            <mat-label>Opening Balance</mat-label>
                                            <input type="text" matInput placeholder="Opening Balance"
                                                formControlName="openingBalance" />
                                        </mat-form-field>

                                        <mat-form-field class="form-group col-xl-4" appearance="fill"
                                            [formGroup]="fnPaymentAndDelivery" [hidden]="isEditMode">
                                            <mat-label>As of</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="asof" />
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </nz-tab>
                            <nz-tab nzTitle="Attachments">
                                <nz-upload nzType="drag" [nzMultiple]="true"
                                    [nzAction]="UploadURL"
                                    (nzChange)="handleChange($event)">
                                    <p class="ant-upload-drag-icon">
                                        <i nz-icon nzType="inbox"></i>
                                    </p>
                                    <p class="ant-upload-text">
                                        Click or drag file to this area to upload
                                    </p>
                                    <p class="ant-upload-hint">
                                        Support for a single or bulk upload. Strictly prohibit from
                                        uploading company data or other band files
                                    </p>
                                </nz-upload>
                            </nz-tab>
                        </nz-tabset>
                    </div>
                </div>
              
            </div>
            <div class="col-xl-12 d-flex justify-content-center">
         
                <button type="submit" nz-button nzType="primary">{{isEditMode ? 'Update Supplier' : 'Add new Supplier'}}
                    
                    </button>
          
        </div>
        </form>
    </div>
</div>