<div class="container">
    <div class="row">
        <div class="col-xl-12">

            {{ form.value | json }}

            <form [formGroup]="form" novalidate #formDirective="ngForm" class="col-xl-12"
                (ngSubmit)="onSubmit(formDirective)">

                <mat-form-field class="col-xl-4">
                    <mat-label>Name</mat-label>
                    <input type="text " matInput placeholder="Enter Name" formControlName="name">
                </mat-form-field>

                <mat-form-field class="col-xl-4">
                    <mat-label>Branch</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto" formControlName="branchId"
                        placeholder="Select Branch">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBranchType.bind(this)">
                        <mat-option [value]="item.id"
                            *ngFor="let item of filterBranchType | async">{{item.branchName}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="col-xl-4">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-xl-4">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> </mat-form-field>

                <mat-form-field class="col-xl-4">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="2">Deactive</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-xl-4">
                    <mat-label>Expense Account</mat-label>
                    <input type="text" matInput formControlName="expenseAccountId" [matAutocomplete]="auto1"
                        placeholder="Select Expense Account">
                    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayExpenseAccountType.bind(this)">
                        <mat-option [value]="item.id"
                            *ngFor="let item of filterExpenseAccountType | async">{{item.name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
       
                    <mat-checkbox formControlName="isRecurring">Is Recurring</mat-checkbox>

           


                <div class="text-center">
                    <button nz-button nzType="primary" class="" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>