<div class="row">

  <div class="col-xl-2 breadcrumbs mb-3">
    <strong>Branch</strong>
  </div>
  <div class="col-xl-4 "></div>
  <div class="col-xl-6 ">
    <div class="w-20 mb-3" id="SearchFiltr">

      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="search" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
      </ng-template>
      <div class="SearchWithFilter dropdown-container ">
        <a class="dropdown-toggle click-dropdown" (click)="show=!show">
          <span nz-icon nzType="filter" nzTheme="outline"></span>
        </a>
        <div>
          <ul class="dropdown-menu" *ngIf="show">
            <form [formGroup]="form">
             
              <li>
                <mat-form-field appearance="fill">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="dateFrom" placeholder="Start date">
                    <input matEndDate  formControlName="dateTo" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                </mat-form-field>
              </li>
              <li>
                <label for="date">Branch</label> <br>
                <select class="form-select" formControlName="branch" aria-label="">
                  <option value="0" selected="">Ajman</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </li>
              <li class="mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
                    formControlName="isPdf">
                  <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
                    Export as PDF
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                    formControlName="isExcel">
                  <label class="form-check-label" for="flexCheckChecked" style="font-size: 15px;">
                    Export as Excel
                  </label>
                </div>
              </li>

            </form>
          </ul>
        </div>

      </div>
    </div>
    <mat-chip-list aria-label="Fish selection">

      <mat-chip *ngIf="this.form.value.dateFrom"> From {{this.form.value.dateFrom | date }} To {{this.form.value.dateTo | date }}  <mat-icon matChipRemove>cancel</mat-icon> </mat-chip>

      <mat-chip *ngIf="this.form.value.branch">{{this.form.value.branch }} <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
      <mat-chip *ngIf="this.form.value.isPdf">Export PDF <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
      <mat-chip *ngIf="this.form.value.isExcel">Export Excel <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>


</div>

<div>

  <div class="row mb-4">

    <div class="col-xl-12 ">
      <a nz-button class="float-right mt-2" nzType="primary" (click)="showModal()">Add
        Branch</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <nz-table class="card" #rowSelectionTable [nzData]="listData" [nzNoResult]="noData" nzShowSizeChanger
        [nzPageSize]="pageSize" [nzTableLayout]="'auto'" [nzBordered]="true" [nzSize]="'small'">
        <thead>
          <tr>
            <th [nzWidth]="'100px'" class="ant-table-selection-column">#
            </th>
            <th [nzWidth]="'100px'"> Branch Name</th>
            <th [nzWidth]="'100px'"> Branch Address</th>


            <th [nzRight]="true" [nzWidth]="'100px'" [nzAlign]="'center'">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data; let i = index;" (click)="showSingleSalesAgent(data)"
            style="cursor: pointer;">
            <td [nzLeft]="true">{{i+1}}</td>
            <td>
              {{data.branchName}}
            </td>
            <td>
              {{data.branchAddress}}
            </td>



            <td>
              <i nz-icon class="text-success font-size-18" nzType="edit" nzTheme="fill" nz-tooltip
                nzTooltipTitle="Edit Branch" (click)="$event.stopPropagation(editBranch(data))"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i nz-icon class="text-danger font-size-18" nzType="delete" nzTheme="fill" nz-tooltip
                nzTooltipTitle="Delete Branch" (click)="$event.stopPropagation(deleteBranch(data))">

              </i>
            </td>



          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>


</div>

<app-add-branch></app-add-branch>


<ng-template #noData>
  <nz-empty class="m-5" [nzNotFoundImage]="'assets/images/no-data/no-account.svg'" [nzNotFoundContent]="noDataDescrp">
  </nz-empty>
</ng-template>